/*
Sitelen Pona character support
requires installing nasin-nanpa (UCSUR) from
https://github.com/ETBCOR/nasin-nanpa/releases
*/
:root {
    --font-primary: 'gg sans', 'Noto Sans', Arial, sans-serif, "nasin-nanpa";
    --font-display: 'gg sans', 'Noto Sans', Arial, sans-serif, "nasin-nanpa";
    --font-headline: 'ABC Ginto Nord', 'Noto Sans', Arial, sans-serif, "nasin-nanpa";
    --font-code: Consolas, monospace, "nasin-nanpa";
}

small {
    font-size: 1em !important;
    color: #dbf !important;
}

div[aria-label="Help"],
.footer__214dc, /* server discovery button */
div:has(>a[href="/store"]),
div:has(>a[href="/shop"]),
button[aria-label="Apps"],
button[aria-label="Send a gift"],
button[aria-label="Open sticker picker"]
{
    display: none;
}


body {
    /* rotate: 1deg; */
    /* animation: spin 60s linear infinite; */
    /* animation: squish 2s infinite; */
}

@keyframes squish {
    0% {
        scale: 80% 100%;
    }
    50% {
        scale: 100% 80%;
    }
    100% {
        scale: 80% 100%;
    }
}

@keyframes spin {
    100% {
        transform:rotate(360deg);
        /* scale: 0.8; */
    }
}

